<h1>Reliable, efficient delivery <span>Powered by Technology</span></h1>
<p>
	Our Artificial Intelligence powered tools use millions of project data points
	to ensure that your project is successful
</p>

<style>
	h1,
	p {
		text-align: center;
		max-width: 500px;
	}

	h1 {
		margin: 50px auto 0 auto;
		font-size: 38px;
		font-weight: 200;
	}

	h1 span {
		font-weight: 600;
	}

	p {
		margin: 20px auto 0 auto;
	}

	@media (max-width: 600px) {
		h1 {
			font-size: 26px;
			max-width: 400px;
		}
	}
</style>
